.points {
	pointer-events: none;
}

img.search-btn {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 30px;
	pointer-events: all;
	cursor: pointer;
}


div.nav-menu {

    display: flex;

	position: fixed;
	top: 45%;
	left: 0px;
	overflow: hidden;
    padding: 5px 20px;
    align-items: center;

	font-size: 18px;
	font-weight: bold;
	font-color: #ccc;

	border: thin solid #ccc;
	background-color: #fff;
	height: 50px;
	width: 150px;

	-webkit-transition: width 0.25s ease, opacity 0.25s ease; /* For Safari 3.1 to 6.0 */
    transition: width 0.25s ease, opacity 0.25s ease;

	pointer-events: auto;
    cursor: pointer;

    z-index: 900;
}

div.menu-open {
	left: 0px;
	width: auto;
	opacity: 1;
}


div.cat-wrap {

    padding: 0px;
	border: none;
	background-color: none;
	height: 50px;

	left: 0px;
	width: auto;
	opacity: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    pointer-events: auto;

}

div.menu-category {
	/*float: left;*/
	position: relative;
	/*display: inline-block !important;*/
	margin: 0px;
}

span.cat-box {
	display: block;
	margin: 15px 25px;
	pointer-events: auto;
}

div.fade-out {
	left: -100px;
	width: 0px;
	opacity: 0;
}

div.flyout, div.subfly {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 901;
	background-color: #fff;
	height: auto;

	max-height: 100vh;
    /*overflow: scroll;*/
    overflow-y: scroll;
    overflow-x: hidden;

	margin: auto 0px;
	padding: 0px;
	pointer-events: auto;

	width: 0px;
	opacity: 0;

    transition: width 0.25s ease 1s, opacity 0.25s ease 1s;
}

div.reveal-horz {
	width: auto;
	opacity: 1;
	pointer-events: auto;
    transition: width 0.25s ease 0s, opacity 0.25s ease 0s;
}

div.reveal-vert {
	opacity: 1;
	pointer-events: auto;
	bottom: 50px;
}

div.flyout span, div.subfly span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 20px;
	pointer-events: auto;
	cursor: pointer;
}

div.flyout span:hover, div.subfly span:hover {
	text-decoration: underline;
}







